html {scroll-behavior: smooth;}

/*Header*/
.navbar.is-fixed-top{background-color: #15405C;}
.main-title {position: relative;padding: 15px 0 15px 15px;font-size: 32px; font-weight: bold;font-family: 'Montserrat', sans-serif; color: #fff}
.navbar.is-fixed-top .navbar-brand .main-title:hover{background-color: #15405C;}
h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat', sans-serif;}
p, span, button {font-family: 'Pontano Sans', sans-serif;} 
.navbar-start {margin-left: auto; margin-right: 0;
}
.navbar.is-danger {background-color: #15405C;}
.navbar-brand {align-items: center;}
.navbar-brand svg, .footer-title svg, .detail-asterix svg {margin-left: 4px;margin-bottom: 20px;color: cyan; font-size: 22px; animation: rotation 4s infinite linear;}
@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
/*main*/
main {padding-top: 78px;}
main .section-container {  max-width: 1280px; margin: 0 auto}

/*Jumbotron*/
.jumbotron-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  padding: 20px;
  background-image: url('./assets/images/mana5280-NFBhiOLH-l8-unsplash.jpg');
  background-size: 120%;
  background-position-y: 20%;
  background-position-x: 100%;
}
.jumbotron-container h1.title, .jumbotron-container h2.title {color: #fff; max-width: 650px;}
button.button.is-info, a.button.is-info {
  background-color: #15405C;
  font-weight: bold;
  margin-top: 32px;
  padding: 10px 40px;
  height: auto
}
.jumbotron-container h2.title {
  font-weight: 400;
}
.jumbotron-container h1.title {
  font-size: 60px
}
button.button.is-info:hover, a.button.is-info:hover {
  color: #000;
  background-color: #fff;
}
@media (max-width: 767px) {
  .title.is-2 {
    font-size: 24px;
  }
  .jumbotron-container h1.title {
    font-size: 3rem
  }
  button.button.is-info, a.button.is-info {
    margin-top: 20px;
  }
}

/*Search*/
.search-container, .detail-awards {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}
.title.is-3, .title.is-3 p {color: #000; font-size: 2rem;font-weight: bold;font-family: 'Montserrat', sans-serif;}
.search-container p {max-width: 600px; color: #000}
.search-container .field {display:flex; flex-direction: column; justify-content:center;margin-top: 32px;}
.search-container .control input {height: 46px;}
.search-container .control{display:flex; flex-direction: column; justify-content:center;}
.search-container .control .button {margin-top: 16px;}

/*Search number*/
.search-number-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
}

.search-number-container img {height: 300px}
.search-number-container h3 {width: 100%; max-width: 400px;margin: 0 auto;}
.search-number-container .number {max-width: 100px;margin: 0 auto 40px auto;padding: 10px 5px;border-radius: 4px;font-size: 32px; color: #fff; font-weight: bold;background-color: #15405C;}

@media (min-width: 768px){
  .search-number-container{
    flex-direction: row;
  }
  .search-number-number-container {display: flex; flex-direction: column;align-items: center;justify-content: center;}
  .search-number-container img {margin-left: 40px;height: 225px}
}
/*Results*/
.results-container {
  padding: 40px 20px;
  background-color: #ebebeb;
  color: #313030;
}
.results-container .results-list h3 {
  margin-bottom: 12px;
}
.results-container ul {
  display: flex;
  flex-direction: column;
}
.results-container li {
  font-size: 18px;
  margin-bottom: 16px;
}
.results-container p {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}
.result-item {
  margin-bottom: 30px;
}
.result-item p span, .result-item h4 span {
 font-weight: bold;
 display: flex;
 text-align: center;
}
.result-item p, .result-item h4 {
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  font-family: 'Pontano Sans', sans-serif;
}
.result-item p {
  margin-bottom: 0;;
}
.result-options p,  .result-options h3, .results-options{
  text-align:center;
}
@media (max-width: 767px){
  .search-start {
    margin-bottom: 24px;
  }
  .result-texts{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 0 30px;
  }
  .result-item p, .result-item h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px){
  .result-item{
    display: flex; 
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 45%;
    margin: 50px 10px 0 10px;
    padding: 20px;
  }
  .result-texts{
    width: 100%;
    padding: 0 30px;
    margin-right: auto;
  }
  .result-item p, .result-item h4 {
    text-align: left;
  }
  .result-item img {
    object-fit: fill;
    margin-right: auto;
  }
  .result-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .result-item p span, .result-item h4 span {
    text-align:left;
  }
}
/*Detail*/
.detail-title{
  max-width: 475px;
  margin: 32px auto 48px auto;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  background: black;
  color: white;
}
.main.detail{
  padding-top:45px;
}
.detail-title-wrapper {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.detail-item{
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.score{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  position: absolute;
  left: calc(50% - 75px);
  top: -75px;
  padding: 20px;
  background-color: black;;
}
.score p{
  text-align: center;
  color: white;
}
.score h2{
  font-size: 75px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 1;
}
.detail-container .card{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 120px auto 80px auto;
}
.detail-container .card .result-texts{
  padding: 30px;
}
.detail-awards{
  position:relative;
}
.detail-awards p{
  max-width: 450px;
  color: black;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.detail-awards p:first-of-type{
  margin-top: 40px;
}
.detail-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #ebebeb;
  top: -36px;
  border: 50%;
  border-radius: 50%;
}
.detail-awards svg {
  animation: none;
  color: darkorange;
  font-size:62px;
}
@media (min-width: 768px){
  .detail-container .image .detail-img{
    max-width: 400px;
    margin: 0 auto;
  }
  .detail-item .card{
    width: 50%;
  }
}
/*Footer*/
.footer-container {
  background-color: #15405C;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}
.footer-wrapper-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding:20px 0 30px 0;
  border-top: 1px solid white;
}
.footer-author p {
  text-align: center;
}
.footer-container p, .footer-container a, .footer-container strong { color: #fff}
.footer-container a {font-weight: bold;}
.footer-title {display: flex; flex-direction: row; align-items: center;  max-width: 1280px;margin: 0 auto}
.footer-title .main-title{padding-left: 0;}
.footer-social{display: flex; flex-direction: column; text-align: left;}
.footer-social svg {color: #fff}
.footer-container .footer-code p {margin-bottom:6px}
@media (min-width: 768px){
  .footer-wrapper-body{
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-code p {
    text-align: right;
  }
  .footer-author p {
    text-align: left;
  }
}
@media (max-width: 767px){
  .footer-social{
    text-align:center;
  }
  .footer-title{
    justify-content: center;
  }
}